@font-face {
    font-family: "Spartan";
    src: url("Spartan.ttf");
}

html {
    margin: 0;
    padding: 0;
    background-color: #3B4664;
    font-family: Spartan;
    font-weight: 700;
}

h1 {
    color: #eae3db;
    margin-left: 20px;
}

.calc {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.display {
    margin-left: 32%;
    width: 35.7%;
    margin-bottom: 1%;
    text-align: left;
    height: 80px;
    border-radius: 18px;
    background-color: #181f32;
}

.btns {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
    background-color: #252d44;
    margin-left: 32%;
    margin-right: 32%;
    padding: 2%;
    border-radius: 18px;
}

.btn-item {
    background-color: #eae3db;
    color: #3b4664;
    border-radius: 14px;
    height: 80px;
    margin: 8px;
    padding-left: 2px;
    padding-top: 15px;
    font-size: 28px;
    box-shadow: inset 0 -5px 0.4px rgba(0, 0, 0, 0.3);
    font-family: Spartan;
    font-weight: 700;
}

.res {
    grid-column: 1 / 3;
    background-color: #3B4664;
    color: #eae3db;
    padding-left: 10px;
    padding-top: 2px;
}

.eq {
    grid-column: 3 / 5;
    background-color: #d13f30;
    color: #eae3db;
    padding-left: 10px;
    padding-top: 2px;
}

.del {
    background-color: #3B4664;
    color: #eae3db;
}